.App {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(180, 176, 113);
}
button{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(182, 86, 21);
  padding: 5px;
}
input{
  width: 50%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

label{
  padding: 2px;
}
